body {
    background-image: url("./images/background-space.png");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    height: 100vh;
    width: auto;
}

h1 {
    
}

header {
    color: white;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    list-style-type: none;
}

#countdown {
    text-align: center;
}

#display {
    min-height: 600px;
    display: inline-flex;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#guesses-display, #inputs, #countdown {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 10px;
    width: 200px;
    outline: dotted 2px grey;
}

#inputs {
    text-align: center;
}

#letter-guess-form, #fill-in-the-blank, #reset {
    display: none;
}

#modal {
	border: 2px; 
	background-color: rgba(31, 31, 32, 0.411);
    border-radius: 10px;
    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    height: 100%;
	padding: 10px;
    display: ;
}

#modal-textbox {
	background-color: white;
	box-shadow: -1px 1px 20px 20px grey;
	height: 350px;
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin: 150px auto;
    display: ;
	/* this margin moves it down 150, then auto */
}

#mystery-word-input {
    display: ;
}

